# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-content/media-folders

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/
/wp-content/themes/kaneism/assets/
/wp-content/themes/kaneism/languages/
**/nux/
**/jetpack/
**/customizer/

# Example plugin
/wp-content/plugins/classic-editor/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/media-folders/
/wp-content/plugins/wordpress-importer/
/wp-content/plugins/wp-sweep/
/wp-content/plugins/woocommerce/
/wp-content/plugins/media-library-plus/

# Uploads
/wp-content/uploads/

# Log files
*.log
*.DS_Store
.gitignore
.repomix
*.code-workspace

/assets/css/dev/
/assets/fonts/
/assets/img/logos/
/docs/

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes