/**
* Correct the inability to style buttons in iOS and Safari.
*/
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
    -webkit-appearance: button; 
    appearance: button;
  }
:where(button, [type="button" i], [type="reset" i], [type="submit" i]){
    text-align: center;
}
:where(button:focus, [type="button" i]:focus, [type="reset" i]:focus, [type="submit" i]:focus){
    outline: 0 none;
}
