/* Start with Small screen layout */ 
.table--general{
    width: 100%;
    caption-side: top;
    margin-bottom: 1.5rem;
}

/* turn off head */
.table--general thead, .table--general th {
    display: none
}

/* turn on data head labels */ 
.table--general td[data-title]::before {
    content: attr(data-title) ": ";
    font-weight: bold;
    width: 28vw;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-right: 5vw;
}

.table--general td {
    display: block;
    text-align: left;
    //clear: both
}
.table--general td, .table--general th {
    padding: .8rem 4px .8rem 8px;
    vertical-align: top; 
}
.table--general th:nth-child(odd), .table--general td:nth-child(odd) {
    background-color: #f1f1f1;
    }

  // 600px and up
@media (min-width: 37.5em) {

} // E: MQ


// 768px and up
@media (min-width: 48em) {



} // E: MQ


// 920px and up
@media (min-width: 57.500em) {

    .table--general{
        caption-side: bottom;
        table-layout: fixed;
        // margin-bottom: 1.5rem;
    }

    /* turn off head */
    .table--general thead {
        display: table-header-group;
        text-align: left;
    }
    .table--general th {
        display: table-cell;
        padding: .875rem .875rem;
    }
    .table--general tr {
        display: table-row;
    }
    .table--general td {
        display: table-cell;
        text-align: left;
        padding: .875rem .875rem;
    }
    .table--general td[data-title]::before {
        content: attr(data-title) " ";
        display: none;
    }
    .table--general th:nth-child(odd), .table--general td:nth-child(odd) {
        background-color: transparent;
        }
    .table--general th, .table--general td {
        border-right: 1px solid lime;
        
        }
    .table--general th:last-child, .table--general td:last-child {
        border-right: 0 none;
        }

} // E: MQ


//  1024px and up
@media (min-width: 64em) {

} // E: MQ


//  1280px and up
@media (min-width: 80em) {

} // E: MQ


// 1440 and up
@media (min-width: 90em) {

} // E: MQ


// 1600 and up
@media (min-width: 100em) {

} // E: MQ


// 2100 and up
@media (min-width: 131.25em) {


} // E: MQ