
 /* $ Reusable Simple Grid setup 
====================================================================== */
// 1 column up to 3 columns
.grid-general:not(.hide-text){
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1.3rem;
    content-visibility: auto;
}

// modifier template classes - mobile first, columns are added as the screen size increases
.grid--2col{
    grid-template-columns: repeat(2, 1fr);
}
.grid--3col{
    grid-template-columns: repeat(1, 1fr);
}
.grid--4col{
    grid-template-columns: repeat(1, 1fr);
}
// .grid--5col{
//     grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
// }

.grid-general:not(.hide-text).tight--grid{gap: 1px 2px}


// related tweak
.related--wrap{
    padding-top: 3vh;
    margin-top: 4vh;
}

// 600px and up
@media (min-width: 37.5em) {

} // E: MQ


// 768px and up
@media (min-width: 48em) {

    .grid--4col{
        grid-template-columns: repeat(2, 1fr);
    }

} // E: MQ

// 920px and up
@media (min-width: 57.500em) {

    .grid--3col{
        grid-template-columns: repeat(2, 1fr);
    }

} // E: MQ


//  1024px and up
@media (min-width: 64em) {

} // E: MQ


//  1280px and up
@media (min-width: 80em) {

    .grid--3col{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid--4col{
        grid-template-columns: repeat(4, 1fr);
    }

} // E: MQ


// 1440 and up
@media (min-width: 90em) {

} // E: MQ


// 1600 and up
@media (min-width: 100em) {

} // E: MQ


// 2100 and up
@media (min-width: 131.25em) {

    .grid--3col{
        grid-template-columns: repeat(5, 1fr);
    }

} // E: MQ



// .grid--2col{
//     grid-template-columns: repeat(2, 1fr);
// }

// .grid--4col{
//     grid-template-columns: repeat(4, 1fr);
// }
// .grid--5col{
//     grid-template-columns: repeat(5, 1fr);
// }

