@charset "UTF-8";
/* 

    The content of this file gets exported to inline-head.css, which gets minified and included inline in the head - found in header.php

*/
/* 1.2 Browser setup / nomalize
====================================================================== */
/* Document
* ========================================================================== */
/**
* 1. Use the default cursor in all browsers (opinionated).
* 2. Change the line height in all browsers (opinionated).
* 3. Breaks words to prevent overflow in all browsers (opinionated).
* 4. Use a 4-space tab width in all browsers (opinionated).
* 5. Remove the grey highlight on links in iOS (opinionated).
* 6. Prevent adjustments of font size after orientation changes in iOS.
*/
:where(:root) {
  line-height: 1.6; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  -o-tab-size: 4;
     tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%; /* 6 */
}

html {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

/**
* 1. Add border box sizing in all browsers (opinionated).
* 2. Backgrounds do not repeat by default (opinionated).
*/
*,
::before,
::after {
  box-sizing: inherit; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
* 1. Add text decoration inheritance in all browsers (opinionated).
* 2. Add vertical alignment inheritance in all browsers (opinionated).
*/
::before,
::after {
  text-decoration: none; /* 1 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 1.1 Browser and Document setup / nomalize */
/**
* Remove the margin in all browsers (opinionated).
*/
:where(body) {
  min-height: 100%;
  position: relative;
  z-index: 0;
  -webkit-font-smoothing: antialiased;
}

body, iframe, article, aside, details, figure, footer, header, nav, section, summary, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

/* Html5 structure
---------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/* 1.2 Global importants */
/* Clear fix */
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

/* body copy */
@font-face {
  font-family: "body";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/galano.woff2") format("woff2");
  font-display: swap;
}
/* headings -- Serif */
@font-face {
  font-family: "fancy";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/copernicus-book.woff2") format("woff2");
  font-display: optional;
}
:where(:root) {
  font-size: 1rem;
  font-family: "body", Verdana, "Helvetica Neue", Arial, sans-serif;
}

html.light {
  background-color: #fefefe;
}

html.dark {
  background-color: #1d1d28;
}

.light body {
  color: #5a5a5a;
}
.dark body {
  color: #bdbdbd;
}

/* General Typography
---------------------------------------------- */
/** HEADINGS **/
:where(h1, h2, h3, h4, h5, h6) {
  font-family: "fancy", "Helvetica", Arial, sans-serif;
  font-weight: normal;
}
.dark :where(h1, h2, h3, h4, h5, h6) {
  color: #d3d2ff;
}

/* Links
---------------------------------------------- */
:where(a) {
  background: transparent;
}
.light :where(a) {
  color: #56005b;
}
.dark :where(a) {
  color: #b0aeff;
}

:where(a:hover) {
  outline: none;
  text-decoration: none;
}

.light a:hover:not(.menu-global a:hover), .light a:focus:not(.menu-global a:focus), .light .current-menu-item a {
  color: #bb5800;
}
.dark a:hover:not(.menu-global a:hover), .dark a:focus:not(.menu-global a:focus), .dark .current-menu-item a {
  color: #01f3d8;
}

:where(a:focus) {
  text-decoration: underline;
  outline: none;
}

:where(a:active) {
  color: inherit;
  background-color: transparent;
  outline: none;
}

/** HEADING LINKS **/
:where(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  text-decoration: none;
}

:where(h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus) {
  text-decoration: underline;
}

/* Call out colour */
.light :where(.cc) {
  color: #bb5800;
}
.dark :where(.cc) {
  color: #01f3d8;
}

:where(.cc:hover) {
  text-decoration: none;
}

:where(.cc:focus) {
  outline: none;
  text-decoration: underline;
}

/* Tables
---------------------------------------------- */
.light :where(th) {
  background-color: #f8f8f8;
  color: currentColor;
  border-bottom: 1px dotted #56005b;
}
.dark :where(th) {
  background-color: #262631;
  color: currentColor;
  border-bottom: 1px dotted #b0aeff;
}

:where(th summary) {
  font-weight: normal;
}

:where(caption) {
  color: currentColor;
}

/* Media
---------------------------------------------- */
:where(img) {
  color: inherit;
}

:where(figcaption) {
  font-weight: normal;
  color: inherit;
}

/* Forms
---------------------------------------------- */
:where([type=text], [type=button], [type=search], [type=password], [type=number], [type=url], [type=email], [type=tel], [type=date], [type=time], [type=month], [type=week], select, optgroup, textarea) {
  font-family: "fancy", "Helvetica", Arial, sans-serif;
  border: 1px solid;
  outline: 1px solid transparent;
  color: rgb(45, 40, 40);
}
.light :where([type=text], [type=button], [type=search], [type=password], [type=number], [type=url], [type=email], [type=tel], [type=date], [type=time], [type=month], [type=week], select, optgroup, textarea) {
  border-color: #dbdbdb;
}
.dark :where([type=text], [type=button], [type=search], [type=password], [type=number], [type=url], [type=email], [type=tel], [type=date], [type=time], [type=month], [type=week], select, optgroup, textarea) {
  border-color: #b0aeff;
}

.light :where(input, optgroup, select, textarea) {
  background-color: #fefefe;
}
.dark :where(input, optgroup, select, textarea) {
  background-color: #1d1d28;
}

.dark :where(input, textarea) {
  caret-color: #01f3d8;
  color: #bdbdbd;
}

:where(button:focus, .button.alt:focus, input:focus, textarea:focus, select:focus, optgroup:focus, [type=checkbox]:focus, [type=radio]:focus) {
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.light input:focus:not(.search-form input:focus), .light textarea:focus {
  border-color: #1d1d28;
}
.dark input:focus:not(.search-form input:focus), .dark textarea:focus {
  border-color: #d3d2ff;
}

/* Colors for form validity */
.light input:invalid, .light textarea:invalid, .light [aria-invalid=true] {
  border-color: red;
}
.dark input:invalid, .dark textarea:invalid, .dark [aria-invalid=true] {
  border-color: red;
}

/* PLACEHOLDER STYLING
---------------------------------------------- */
input::-moz-placeholder {
  font-style: italic;
}
input::placeholder {
  font-style: italic;
}
.light input::-moz-placeholder {
  color: #5a5a5a;
}
.light input::placeholder {
  color: #5a5a5a;
}
.dark input::-moz-placeholder {
  color: #bdbdbd;
}
.dark input::placeholder {
  color: #bdbdbd;
}

input:focus::-moz-placeholder {
  opacity: 0.2;
}

input:focus::placeholder {
  opacity: 0.2;
}

legend {
  color: inherit;
}

label {
  font-family: inherit;
}

/* Buttons
---------------------------------------------- */
:where(button, [type=button i], [type=reset i], [type=submit i]) {
  color: red;
}

:where(button:disabled, [type=button i]:disabled, [type=reset i]:disabled, [type=submit i]:disabled) {
  background-color: red;
  color: red;
}

/* Interactive
---------------------------------------------- */
:where(.hide-text:focus) {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}
.light :where(.hide-text:focus) {
  background-color: #fff;
}
.dark :where(.hide-text:focus) {
  background-color: #000;
}

:where(.quick-links:focus) {
  outline: 1px solid #000;
  text-decoration: none;
}
.light :where(.quick-links:focus) {
  background-color: #fff;
}
.dark :where(.quick-links:focus) {
  background-color: #000;
}

.exit-offcanvas {
  opacity: 0;
}
.light .exit-offcanvas {
  background: #56005b;
}
.dark .exit-offcanvas {
  background: #b0aeff;
}

[data-off-canvas=visible] .exit-offcanvas, [data-off-screen=visible] .exit-offcanvas {
  opacity: 0.5;
}

@media (min-width: 80em) {
  body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 2rem;
  }
  .light body {
    background-image: url("/assets/img/bg/splat-main-light.svg");
  }
  .dark body {
    background-image: url("/assets/img/bg/splat-main-dark.svg");
  }
}
/* 1.4 General Typography & Headings
====================================================================== */
/* General Typography */
/** HEADINGS **/
:where(h1, h2, h3, h4, h5, h6) {
  margin: 0 0 1.2vh 0;
  letter-spacing: 0.01ch;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Edge, Firefox, and Safari.
*/
:where(h1) {
  font-size: 2em;
}

/**
* 1. Correct the inheritance of border color in Firefox.
* 2. Add the correct box sizing in Firefox.
*/
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
  margin: 1.5vh 0;
  border: 0;
  border-top: 1px solid;
  clear: both;
  overflow: hidden;
}

/** GENERAL **/
:where(p) {
  margin: 0 0 2vh;
  word-spacing: 0.3ch;
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
:where(b, strong, th, thead, legend) {
  font-weight: bolder;
}

:where(em, i, dfn, cite, caption, q) {
  font-style: italic;
}

/* shared type styles */
:where(q) {
  quotes: "“" "”" "‘" "’";
}

/* blockquotes */
:where(blockquote) {
  font-size: 110%;
  line-height: 1.3;
  margin: 0.6667rem 0;
  padding: 0 2.2222rem 0.6667rem 0; /* 40px 12px */
}

:where(blockquote p) {
  margin-top: 0.3333rem;
  margin-bottom: 0.6667rem;
}

/* :where(){} */
:where(address) {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

/**
* Add the correct font size in all browsers.
*/
:where(small, sup, sub) {
  font-size: 80%;
}

:where(sup, sub) {
  font-size: 80%;
  line-height: 0;
}

:where(sup) {
  vertical-align: super;
}

:where(sub) {
  vertical-align: sub;
}

:where(abbr, acronym) {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/**
* Add the correct text decoration in Safari.
*/
:where(abbr[title], acronym[title], dfn[title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

:where(mark) {
  background: none;
}

/* 1.6 Links & Cursors
====================================================================== */
/* Cursors 
---------------------------------------------- */
:where(a, label, select, .pointer, button, [type=button], [type=reset], [type=color], [type=submit], [type=file], [type=date], [type=time], [type=checkbox], [type=radio], [type=range], [role=button], .submit) {
  cursor: pointer;
}

/* Links
---------------------------------------------- */
:where(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  display: inline-block;
}

/* Reversed anchors - underlines */
:where(.ra a) {
  text-decoration: none;
}

:where(.ra a:hover) {
  text-decoration: underline;
}

/* 1.9 Lists & Tables
====================================================================== */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1.2rem;
}

ul {
  list-style-type: disc;
}

ul li {
  margin-bottom: 0.3rem;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
}

ol li {
  margin-bottom: 0.3rem;
}

/*definition lists*/
dt {
  font-weight: bolder;
}

dl dd {
  margin: 0 0 0.5125rem;
}

dialog dd {
  margin-bottom: 0.5rem;
  line-height: normal;
}

ul dl, ol dl {
  margin: 0 0 0 0.625rem;
}

/**
* Remove the margin on nested lists in Chrome, Edge, and Safari.
*/
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0.6rem 0 0.6rem 1rem;
  padding-left: 25px;
}

/**
* Remove the list style on navigation lists in all browsers (opinionated).
*/
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/* Tabular data
* ========================================================================== */
/**
* 1. Collapse border spacing in all browsers (opinionated).
* 2. Correct table border color in Chrome, Edge, and Safari.
* 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
*/
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: currentColor; /* 2 */
  text-indent: 0; /* 3 */
  table-layout: fixed;
  border-spacing: 0;
  caption-side: bottom;
}

:where(th) {
  text-align: -webkit-match-parent;
  text-align: match-parent;
  text-align: inherit;
}

:where(th summary) {
  margin: 0 0 0.625rem 0;
}

:where(td, th) {
  padding: 0;
}

:where(thead, tbody, tfoot, tr, td, th) {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
}

:where(caption) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: currentColor;
  text-align: left;
}

/* 1.7 Images, Media & Embedded content 
====================================================================== */
:where(img) {
  border: 0;
  height: auto;
  width: 100%;
  max-width: 100%;
}

:where(figure) {
  margin: 0 0 0.625rem;
  padding: 0;
}

:where(video) {
  max-width: 100%;
  height: auto;
}

/*
* Change the alignment on media elements in all browsers (opinionated).
*/
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

/**
* Remove the border on iframes in all browsers (opinionated).
*/
:where(iframe) {
  border-style: none;
}

/**
* Change the fill color to match the text color in all browsers (opinionated).
*/
:where(svg:not([fill])) {
  fill: currentColor;
}

/* 1.8 Global Forms Normalize
====================================================================== */
/* Form Elements */
/**
* Remove the margin on controls in Safari.
*/
/* :where(button, input, select) {
    margin: 0;
} */
:where([type=text], [type=button], [type=search], [type=password], [type=number], [type=url], [type=email], [type=tel], [type=date], [type=time], [type=month], [type=week], select, optgroup, textarea) {
  font-size: 1rem;
  line-height: 1.15;
  vertical-align: baseline;
  border-radius: 0;
  padding: 0.6180469716rem;
  overflow: visible;
}

:where([type=file], [type=color]) {
  font-size: 1rem;
  line-height: 1.15;
  vertical-align: baseline;
  border-radius: 0;
  border: 0;
  overflow: visible;
}

:where([type=file]) {
  background-color: transparent;
}

:where(optgroup) {
  font-weight: bold;
}

:where(select) {
  /* background-color: #fff;  */
  /* border-radius: 0; */
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
       appearance: menulist;
  -webkit-box-align: center;
  -webkit-rtl-ordering: logical;
  outline-offset: -2px;
}

:where(button, select) {
  text-transform: none;
}

:where(input[type=number]) {
  text-align: center;
}

/**
* Add the correct vertical alignment in Chrome, Edge, and Firefox.
*/
:where(progress) {
  vertical-align: baseline;
}

/**
* 1. Remove the margin in Firefox and Safari.
* 3. Change the resize direction in all browsers (opinionated).
*/
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
* 1. Correct the odd appearance in Chrome, Edge, and Safari.
* 2. Correct the outline style in Safari.
*/
:where([type=search i]) {
  -webkit-appearance: textfield; /* 1 */
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
* Correct the text style of placeholders in Chrome, Edge, and Safari.
*/
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
* Remove the inner padding in Chrome, Edge, and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/**
* 1. Correct the inability to style upload buttons in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  appearance: button;
  font: inherit; /* 2 */
}

::-ms-reveal,
::-ms-clear {
  display: none !important;
}

:where([hidden]) {
  display: none !important;
}

input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus, select:focus {
  box-shadow: none;
  outline: none;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Form Structure
---------------------------------------------- */
form {
  margin-bottom: 1em;
}

fieldset {
  border: 0;
}

legend {
  white-space: normal;
}

label {
  display: block;
  margin-bottom: 0.3rem;
}

/* 1.8 Global Forms Normalize
====================================================================== */
/**
* Correct the inability to style buttons in iOS and Safari.
*/
:where(button, [type=button i], [type=reset i], [type=submit i]) {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

:where(button, [type=button i], [type=reset i], [type=submit i]) {
  text-align: center;
}

:where(button:focus, [type=button i]:focus, [type=reset i]:focus, [type=submit i]:focus) {
  outline: 0 none;
}

/* 1.8 Global Forms Normalize
====================================================================== */
/* Interactive
* ========================================================================== */
/*
* Add the correct styles in Safari.
*/
:where(dialog) {
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
* Add the correct display in Safari.
*/
:where(details > summary:first-of-type) {
  display: list-item;
}

summary {
  display: list-item;
  cursor: pointer;
}

/* Accessibility
* ========================================================================== */
/* Text meant only for screen readers. */
:where(.hide-text) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

:where(.hide-text:focus) {
  border-radius: 3px;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

:where(.hide-divider) {
  border: 0 none;
  height: 0 !important;
  margin: 0;
  padding: 0;
}

:where(.quick-links) {
  left: 10px;
  padding: 5px 10px;
  position: absolute;
  text-decoration: none;
  top: -100%;
  transition: top 200ms ease-in-out 0s;
  z-index: 5;
  transform: translateZ(0);
}

:where(.quick-links:focus) {
  top: 0;
}

/**
* Change the cursor on busy elements in all browsers (opinionated).
*/
:where([aria-busy=true i]) {
  cursor: progress;
}

/*
* Change the cursor on disabled, not-editable, or otherwise
* inoperable elements in all browsers (opinionated).
*/
:where([aria-disabled=true i], [disabled]) {
  cursor: not-allowed;
}

/*
* Change the display on visually hidden accessible elements
* in all browsers (opinionated).
*/
:where([aria-hidden=false i][hidden]) {
  display: initial;
}

:where([aria-hidden=false i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Enhanced small screen slide in out
---------------------------------------------- */
/* Enhanced state */
.enhanced {
  /* adjust positioning for search for global header slide in out */
}
.enhanced .global-header[data-nav-slide*=slide], .enhanced .global-header[data-nav-slide*=hidden] {
  left: -48em;
}
.enhanced .global-header[data-nav-slide*=visible] {
  left: 0;
}
.enhanced [data-nav-slide*=hidden] .search-form {
  left: 48em;
}
.enhanced [data-nav-slide*=visible] .search-form {
  left: 0;
}
.enhanced .search-form[data-search-slide*=slide], .enhanced .search-form[data-search-slide*=hidden] {
  top: -100px;
}
.enhanced .search-form[data-search-slide*=visible] {
  top: 0;
}

/* Page BG with Navigation Open */
.enhanced .exit-offcanvas {
  transform: translateZ(0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
  transition: opacity 500ms ease-in-out;
  backface-visibility: hidden;
  pointer-events: none;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .enhanced .exit-offcanvas {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.enhanced[data-off-canvas=visible] .exit-offcanvas, .enhanced [data-off-screen=visible] .exit-offcanvas {
  cursor: pointer;
  transition: opacity 300ms ease;
  -webkit-tap-highlight-color: transparent;
  display: block;
  z-index: 3;
  pointer-events: unset;
}

/* Max width 767px
---------------------------------------------- */
@media (max-width: 47.938em) {
  .enhanced[data-off-canvas=visible], .enhanced [data-off-screen=visible] {
    overflow: hidden;
    padding-right: 14px;
  }
  .enhanced[data-off-canvas=visible] .global-header--ss, .enhanced [data-off-screen=visible] .global-header--ss {
    padding: 0.275em calc(5.5% + 6px) 0.375em 3%;
  }
}
/* Min width 768
---------------------------------------------- */
@media (min-width: 48em) {
  /* Enhanced state */
  .enhanced .global-header[data-nav-slide*=slide], .enhanced [data-nav-slide*=slide] .search-form {
    left: 0;
  }
  .enhanced .search-form[data-search-slide*=slide] {
    top: 0;
  }
}