/* 0.0 $ Common HTML Base Structure
====================================================================== */
/* Global Setup
---------------------------------------------- */
div, header, footer, aside, nav, section, article, main {
  overflow: hidden;
  position: relative;
}

/* Fluid wrapper for main content - identical to site wrapper - fine grained adjustments for responsive breakpoints */
.fluid {
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

/* all purpose wrapper - used for blocks of content */
.region {
  width: 100%;
}

/* all purpose wrapper */
.content-wrapper {
  overflow: hidden;
  padding-bottom: 1rem;
  width: 100%;
}

/* Body Content
---------------------------------------------- */
.enhanced .body-home {
  padding-top: 5rem;
}

.enhanced .inner-content {
  padding-top: 5rem;
}

/* $ Enhanced - media queries
====================================================================== */
@media (min-width: 37.5em) { /* 768px */
  /* Body Content
  ---------------------------------------------- */
  .enhanced .inner-content, .enhanced .body-home {
    padding-top: 4.5rem;
  }
}
@media (min-width: 48em) { /* 768px */
  /* Body Content
  ---------------------------------------------- */
  .enhanced .inner-content, .enhanced .body-home {
    padding-top: 9rem;
  }
  .main-content {
    padding: 0 0 1.5rem;
  }
}
@media (min-width: 64em) {
  .enhanced .inner-content, .enhanced .body-home {
    padding-top: 9.5rem;
  }
}
@media (min-width: 80em) {
  .enhanced .inner-content, .enhanced .body-home {
    padding-top: 11.5rem;
  }
}
@media (min-width: 90em) {
  .fluid {
    max-width: 94%;
  }
  .main-content--catalogue {
    width: 57%;
  }
  .supplementary-content {
    width: 18%;
    margin-right: 2%;
  }
}
@media (min-width: 100em) {
  .fluid {
    max-width: 95%;
  }
  /* Body Content
  ---------------------------------------------- */
  .enhanced .inner-content {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 131.25em) {
  .fluid {
    max-width: 90%;
  }
}
/* $ 0.1 Global Header / Footer / Grid - small screen and large screen
====================================================================== */
/* font awesome */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/fa/fa-solid-900.woff2") format("woff2"), url("/assets/fonts/fa/fa-solid-900.woff") format("woff");
  font-display: optional;
}
/* Small screen functionality
---------------------------------------------- */
.no-js .global-header--ss {
  display: none;
}

.enhanced .global-header {
  top: 61px;
}
.enhanced .brand-fs {
  display: none;
}
.enhanced .is--fixed {
  position: fixed;
}

/* Global Headers
---------------------------------------------- */
.global-header, .global-header--ss {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  line-height: 1.15;
}

.global-header--ss {
  min-height: 61px;
  padding: 0.275rem 3% 0.375rem;
  top: 0;
  display: flex;
  z-index: 4;
}

.global-header {
  overflow: visible;
  transform: translateZ(0);
  transition: all 0.3s ease;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.global-header[data-nav-slide] {
  transform: translateZ(0);
  transition: all 0.3s ease;
}

.brand-header {
  height: auto;
  transition: all 0.6s ease;
  order: 2;
}

.navigation-global {
  order: 1;
}

/* Do stuff when the header sticks
---------------------------------------------- */
.enhanced .is--sticky {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.45);
}

/* Global Header Inner structure
---------------------------------------------- */
.brand {
  background-repeat: no-repeat;
  line-height: 1;
  position: relative;
  overflow: hidden;
  text-indent: -9999em;
}

.brand-ss {
  background-position: 50% 0;
  background-size: auto 49px;
  height: 48px;
  margin: 0 auto;
  width: 150px;
}

.brand-fs {
  background-position: 50% 0;
  background-size: auto 72px;
  margin-bottom: 0;
}

.brand-fs .is--logo {
  min-height: 72px;
  display: block;
  border: 1px solid transparent;
  padding: 1px;
}

.is--logo:focus {
  background-color: transparent;
  border: 1px solid;
}

.theme-switcher {
  padding: 0.4rem 0;
  position: absolute;
  right: 5%;
  top: -66px;
  z-index: 3;
}

.menu-utilities {
  transition: padding 300ms;
}

.menu-global {
  width: 100%;
}
.menu-global .fluid {
  padding-left: 0;
  padding-right: 0;
}

/* $ Enhanced - media queries
====================================================================== */
@media (min-width: 48em) { /* 768px */
  .enhanced .global-header {
    top: 0;
    display: block;
  }
  .enhanced .brand-fs {
    display: block;
  }
  .menu-global .fluid {
    padding-left: 5%;
    padding-right: 5%;
  }
  /* Global Headers
  ---------------------------------------------- */
  .global-header--ss {
    display: none;
  }
  .global-header {
    border-bottom: 0 none;
  }
  .brand-header {
    display: block;
  }
  .is--sticky .brand-header.ov {
    overflow: hidden;
  }
  .is--sticky .brand-header {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* Global Header Inner structure
  ---------------------------------------------- */
  .brand-fs {
    background-position: 0 -5px;
    background-size: auto 120%;
    float: left;
  }
  .brand-fs .is--logo {
    min-height: 76px;
    width: 240px;
  }
  .search-form, .menu-social {
    float: right;
  }
  .menu-global {
    padding-top: 1px;
    border-bottom: 0 none;
    font-size: 1.2rem;
  }
  .theme-switcher {
    float: right;
    margin-left: 3%;
    margin-top: 0.6rem;
    padding: 0.4rem 0 0.4rem 2%;
    position: static;
    top: 0;
  }
  .menu-utilities {
    width: auto;
  }
}
@media (min-width: 64em) {
  /* Global Header Inner structure
  ---------------------------------------------- */
  .brand-fs .is--logo {
    min-height: 5.5rem;
    width: 240px;
  }
  .theme-switcher {
    margin-left: 3.5%;
    padding-left: 3.5%;
  }
}
@media (min-width: 80em) {
  /* Global Header Inner structure
  ---------------------------------------------- */
  .menu-utilities {
    padding-top: 0.6rem;
  }
}
@media (min-width: 90em) {
  /* Global Header Inner structure
  ---------------------------------------------- */
  .brand-fs .is--logo {
    min-height: 100px;
    width: 260px;
  }
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Small screen Menu Controls
---------------------------------------------- */
.menu-trigger {
  color: initial;
  height: 23px;
  margin: 14px 0 0;
  width: 30px;
}

.menu-trigger:active, .menu-trigger:focus {
  background: transparent;
}

.search-trigger {
  height: 23px;
  margin: 14px 0 0;
  width: 30px;
  float: right;
}

.search-trigger:active, .search-trigger:focus {
  background-color: transparent;
}

.global-header--ss .i--close {
  background-size: 100% auto;
  height: 23px;
  width: 30px;
  margin-top: 10px;
}

@media (min-width: 37.5em) {
  .menu-trigger {
    color: initial;
    height: 23px;
    margin: 14px 0 0;
    width: 30px;
  }
}
@media (min-width: 48em) { /* 768px */ }
/* Utility Menu
---------------------------------------------- */
.utility-menu {
  font-size: 0.875rem;
  line-height: 1;
  list-style-type: none;
  margin: 3px 0 0;
  padding: 0;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(2, 50%);
}
.utility-menu li {
  margin: 0;
}
.utility-menu .i-inline {
  display: block;
}
.utility-menu a {
  display: block;
  padding: 0.8rem 1rem;
}

@media (min-width: 48em) { /* 768px */
  /* Utility Menu
  ---------------------------------------------- */
  .utility-menu {
    display: block;
    margin-bottom: 1vh;
    overflow: hidden;
    float: right;
    width: auto;
  }
  .utility-menu li {
    display: inline;
    float: left;
    margin-right: 0.5rem;
  }
  .utility-menu li:last-child {
    margin-right: 0;
  }
  .utility-menu a {
    float: left;
    padding: 0.3rem 0;
  }
  .utility-menu li:before {
    content: "|";
    float: left;
    line-height: 1;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
  }
  .utility-menu li:first-child:before {
    content: "";
    padding-right: 0;
  }
}
@media (min-width: 80em) {
  /* Utility Menu
  ---------------------------------------------- */
}
/* Main global Navigation
---------------------------------------------- */
.menu-logo {
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  height: 0;
  left: 2%;
  position: absolute;
  width: 45px;
  opacity: 0;
}

.navigation-global {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  transition: font-size 300ms;
}
.navigation-global li {
  margin: 0;
  padding: 0;
}
.navigation-global li:first-child {
  transition: padding-left 300ms;
}
.navigation-global a {
  display: block;
  padding: 0.7rem 5%;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.header--cart {
  position: relative;
  padding: 1.5rem 5% 1.5rem;
  width: 60%;
  font-size: 0.875rem;
}

.cart--label {
  display: none;
}

.header--cart .cart--content {
  position: relative;
  padding: 0.4rem 0.2rem 0.4rem 2rem;
  text-decoration: none;
  display: block;
}
.header--cart .cart--content:hover {
  text-decoration: underline;
}

.header--cart .cart--content::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f291";
  font-size: 1.4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.bubble--ss {
  position: fixed;
  top: 17px;
  right: 55px;
  z-index: 6;
  margin-bottom: 0;
}

.menu-global .cart--bubble {
  position: relative;
  width: auto;
  float: right;
  margin: 0;
  padding-top: 0.3rem;
  display: none;
}

.bubble--contents {
  position: relative;
  height: 32px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  width: 32px;
}

.bubble--contents .bubble--count {
  text-indent: 0;
  display: block;
  width: 2em;
  height: 2em;
  line-height: 2;
  box-sizing: content-box;
  font-size: 0.75em;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  text-align: center;
}

@media (min-width: 48em) { /* 768px */
  /* Main global Navigation
  ---------------------------------------------- */
  .navigation-global {
    border-bottom: 0 none;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Underline From Center */
  }
  .navigation-global a {
    border-bottom: 0 none;
    padding: 0.5rem 0.7rem;
    transform: perspective(1px) translateZ(0);
  }
  .navigation-global a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 1px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .navigation-global a:hover:before, .navigation-global a:focus:before, .navigation-global a:active:before, .navigation-global .is-selected:before, .navigation-global .current-menu-item a:before, .navigation-global .current-page-ancestor a:before, .navigation-global .current_page_parent a:before {
    left: 0;
    right: 0;
  }
  .navigation-global a:hover, .navigation-global a:focus, .navigation-global .is-selected, .navigation-global .current-menu-item a, .navigation-global .current-page-ancestor a, .navigation-global .current_page_parent a {
    border-bottom: 0 none;
  }
  .is--sticky .navigation-global li:first-child {
    padding-left: 1rem;
  }
  .is--sticky .menu-logo {
    display: block;
    height: 30px;
  }
  .is--sticky .menu-logo {
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  @keyframes rotateIn {
    0% {
      transform-origin: center center;
      transform: rotate(-200deg);
      opacity: 0;
    }
    100% {
      transform-origin: center center;
      transform: rotate(0);
      opacity: 1;
    }
  }
  /* Cart in the header */
  .header--cart {
    float: right;
    width: auto;
    font-size: 1rem;
    padding: 0;
  }
  .header--cart .cart--content {
    padding: 0.6rem 0.4rem 0.2rem;
    display: block;
    text-decoration: none;
  }
  .header--cart .count {
    padding-right: 0.5rem;
  }
  .header--cart .cart--content::after {
    font-family: "Font Awesome 5 Free";
    vertical-align: baseline;
    content: "\f291";
    line-height: 1.618;
  }
  .header--cart .cart--content::before {
    display: none;
    content: "";
  }
  .is--sticky .header--cart {
    display: none;
  }
  .is--sticky .menu-global .cart--bubble {
    display: block;
  }
  .is--sticky .bubble--count {
    display: block;
  }
}
@media (min-width: 64em) {
  /* Main global Navigation
  ---------------------------------------------- */
  .navigation-global a {
    padding: 0.5rem 0.8rem;
  }
  .is--sticky .navigation-global li:first-child {
    padding-left: 0;
  }
  .is--sticky .menu-logo {
    left: 1%;
    top: 5px;
  }
}
@media (min-width: 80em) {
  /* Main global Navigation
  ---------------------------------------------- */
  .navigation-global a {
    padding: 0.8rem 1.1rem 0.7rem;
  }
  .cart--label {
    display: inline;
  }
}
@media (min-width: 90em) {
  /* Main global Navigation
  ---------------------------------------------- */
  .is--sticky .menu-logo {
    height: 35px;
  }
}
/* Search :: GLOBAL STRUCTURES & WRAPPERS
---------------------------------------------- */
.search-form {
  overflow: hidden;
  padding: 1rem 5%;
  position: fixed;
  margin-bottom: 2px;
  width: 100%;
  z-index: 5;
  flex-basis: 100%;
}
.search-form .search-field {
  margin-right: 10px;
  float: none;
}

.search-form .i--search, .search-form-general .i--search {
  background-color: transparent;
  border: 0 none;
  margin-top: 10px;
  overflow: hidden;
}
.search-form .i-m, .search-form-general .i-m {
  height: 22px;
  width: 22px;
}
.search-form .text-field[type=text], .search-form-general .text-field[type=text] {
  width: 85%;
}

.enhanced .search-form[data-search-slide] {
  transform: translateZ(0);
  transition: all 0.3s ease;
}

/* GENERAL FORM STYLES
---------------------------------------------- */
.search-form .text-field {
  width: 80%;
}

@media (min-width: 48em) { /* 768px */
  .search-form .i--search, .search-form-general .i--search {
    margin-top: 0;
  }
  .search-form .text-field {
    width: auto;
  }
  .search-form {
    box-shadow: 0 0 0 0;
    padding: 0 0.6rem 0 0;
    position: relative;
    width: auto;
    margin-bottom: 7px;
  }
}
/* Global Footers
---------------------------------------------- */
.global-footer {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 3vh 0 1.5vh;
  margin-top: 3.5vh;
  content-visibility: auto;
}

/* Footer Branding
---------------------------------------------- */
.footer-logo {
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 50%;
  width: 100%;
  background-size: contain;
}

/* Footer Structure
---------------------------------------------- */
.footer-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "footer-logo" "footer-span1" "footer-span2" "footer-social" "copyright";
}

.footer-span-1 {
  grid-area: footer-logo;
}

.footer-span-2 {
  grid-area: footer-span1;
}

.footer-span-3 {
  grid-area: footer-span2;
}

.footer-span-4 {
  grid-area: footer-social;
}

.footer-span-5 {
  grid-area: copyright;
}

.copyright {
  font-size: 0.875rem;
  margin-bottom: 0;
  padding-top: 2rem;
  text-align: center;
}

/* Footer Type
---------------------------------------------- */
.footer-lists {
  margin-bottom: 2rem;
}
.footer-lists a {
  display: block;
  padding: 0.2rem;
}

.js-BackToTop {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 30em) { /* 480px */
  /* Footer Structure
  ---------------------------------------------- */
  .footer-grid {
    grid-template-columns: 50% auto;
    grid-template-areas: "footer-logo footer-logo" "footer-span1 footer-span2" "footer-social footer-social" "copyright copyright";
  }
}
@media (min-width: 48em) {
  .global-footer {
    background-size: 80% auto;
  }
  /* Footer Structure
  ---------------------------------------------- */
  .footer-grid {
    grid-template-columns: 50% auto auto;
    grid-template-areas: "footer-logo footer-logo footer-logo" "footer-span1 footer-span2 footer-social" "copyright copyright copyright";
  }
  /* Footer Banding
  ---------------------------------------------- */
  .footer-logo {
    padding-bottom: 40%;
    width: 50%;
    margin: 0 auto;
  }
}
@media (min-width: 64em) {
  /* Footer Banding
  ---------------------------------------------- */
  .footer-logo {
    padding-bottom: 20%;
    margin-bottom: 2rem;
    width: 30%;
  }
}
@media (min-width: 80em) {
  .global-footer {
    background-size: 50% auto;
  }
  /* Footer Structure
  ---------------------------------------------- */
  .footer-grid {
    grid-template-columns: 20% 35% auto auto;
    grid-template-areas: "footer-logo footer-span1 footer-span2 footer-social" "copyright copyright copyright copyright";
  }
  /* Footer Branding
  ---------------------------------------------- */
  .brand-footer {
    font-size: 0.875rem;
  }
  /* Footer Logo
  ---------------------------------------------- */
  .footer-logo {
    width: 100%;
    padding-bottom: 55%;
    background-size: 90% auto;
    background-position: 0 0;
  }
}
@media (min-width: 90em) {
  .global-footer {
    background-size: 30% auto;
    padding: 6vh 0 1.5vh;
  }
}
@media (min-width: 100em) {
  /* Footer Structure
  ---------------------------------------------- */
  .footer-grid {
    grid-template-columns: 20% 35% auto auto;
  }
}
/* $ Reusable Simple Grid setup 
====================================================================== */
.grid-general:not(.hide-text) {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1.3rem;
  content-visibility: auto;
}

.grid--2col {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3col {
  grid-template-columns: repeat(1, 1fr);
}

.grid--4col {
  grid-template-columns: repeat(1, 1fr);
}

.grid-general:not(.hide-text).tight--grid {
  gap: 1px 2px;
}

@media (min-width: 48em) {
  .grid--4col {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 57.5em) {
  .grid--3col {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 80em) {
  .grid--3col {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--4col {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 131.25em) {
  .grid--3col {
    grid-template-columns: repeat(5, 1fr);
  }
}