/* GLOBAL STRUCTURES & WRAPPERS
---------------------------------------------- */
.general-form{ 
    overflow: hidden;
    margin-bottom: 0;
    }
// .promo-form{ width: 100%; }

.wpcf7-form{
    padding: 1px;

    &.invalid{
        padding-top: 1.5rem;
    }
}
.wpcf7-form-control-wrap{
    display: block;
    margin-bottom: 1.3rem;
}
.wpcf7-form-control{
    width: 90%;
}
.screen-reader-response{
    p, ul{
        margin-bottom: 0;
    }
}

// .wpcf7-form.invalid{
//     [aria-invalid="true"]{
//         border-color: red;
//     }
// }
.wpcf7-not-valid-tip{
    display: block;
    font-style: italic;
}

// .form-row { margin: 0 0 .5em; padding-top: .5em; }
// .form-row .form-row { margin: 0; padding-top: 0; }

.variations_form{
    // select{ margin-bottom: .7em;}
    .label{ padding-right: 1rem; }
    .value{ padding: .3rem 0;}

    // .quantity{ padding-top: .5em; margin-top:.5em; }
}

.woocommerce-invalid .input-text {
    box-shadow: inset 2px 0 0;
}
.woocommerce-validated .input-text {
    box-shadow: inset 2px 0 0;
}

/* GLOBAL FORM ELEMENTS
---------------------------------------------- */
// label{ font: 16px/1.42857143 'regular', 'Helvetica', Arial, sans-serif; }

// .fieldset { padding: 0; border: 0 none; }

/* Styled legend tag */
.legend-visible{ font-size: 1rem; line-height: normal; margin-bottom: .2rem; }


/* Labels */
//.alt-label  { font-family: $font-lights; color: #2c2c2c; margin-bottom: 0; }
// .form-label { margin-bottom: .3em; }


/* Text Fields */
// .text-field[type="text"], .text-field[type="password"], .text-field[type="email"], .text-field[type="tel"], .text-field[type="search"]{
//     // border: 1px solid;
//     // border-color: $color-bg-tertiary;
//     float: left; 
//     @include rem(font-size, 14px); 
//     padding: .63em .8em; 
//     appearance: none; 
//     -webkit-appearance: none; 
//     transition: all 0.24s ease-in-out;
//     }
// .text-field:focus{ 
//     // border: 1px solid;
//     // border-color: $color-bg-tertiary; 
//     // background-color: $color-bg-primary;
//     // @include theme() {
//     //     background-color: theme-get('color-bg-primary');
//     //     border-color: theme-get('color-bg-tertiary');
//     //     }
//     //padding: .63em .8em;
//     //outline:none; 
//     }

.field-inline{ margin-right: 15px; }


/* Radio Buttons and Checkboxes */
.checkbox abbr{ display: none; }
.checkbox .form-label{ font-size: .8125rem; font-family: $font-default; }

.form-label input[type="checkbox"]{ float:left; margin-top: 4px; }
.form-label .check-label{ float: left; width: 90%; line-height: 1.3; }



/* GENERAL FORM STYLES
---------------------------------------------- */
.general-form .text-field{
    width: 375px;
    }
.general-form .btn{ margin-top: .8rem; }
.general-form .controls .date{
    margin-right: 15px;
    width: 90px;
    //appearance: menulist;
    //-webkit-appearance: menulist;
    //-moz-appearance: menulist; /* Ugly Firefox way of doing it */
    padding: .3rem 0 .3rem .5rem;
    }


/* SHOW HIDE PASSWORD CHECKBOX
---------------------------------------------- */
::-ms-reveal,
::-ms-clear {
    display: none !important;
    }

// .no-js .password-toggle{ display: none; }

// .password-toggle{
//     background-color: #f9f9f9;
//     margin-top: -8px;
//     padding: 8px 0 5px;
//     width: 375px;
//     line-height: normal;
//     }
// .modal-form .password-toggle{
//     margin-top: -8px;
//     margin-bottom: .5em;
//     width: 100%;
//     }
// .password-toggle .checkbox{
//     float: left;
//     margin-left: 10px;
//     height: 16px;
//     }
// .password-toggle .form-label{ @include rem(font-size, 13px); font-family: $font-default; line-height: 1.1; }



// 920px and up
@media (min-width: 57.500em) {
    .wpcf7-form-control{
        width: 80%;
    }

} // E: MQ


//  1024px and up
@media (min-width: 64em) {



} // E: MQ


//  1280px and up
@media (min-width: 80em) {

    .wpcf7-form-control{
        width: 50%;
    }

} // E: MQ


// 1440 and up
@media (min-width: 90em) {


} // E: MQ


// 1600 and up
@media (min-width: 100em) {

    .wpcf7-form-control{
        width: 40%;
    }

} // E: MQ


// 2100 and up
@media (min-width: 131.25em) {


} // E: MQ